ul{
    list-style: none;
    display: inline-block;

}
a{
    text-decoration: none;
}
.webstudia
{
    font-family: Raleway;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #000000;
}
.webstudia{
    color: #2196F3;
}

